VK_TOKEN=vk1.a.Uey1IXHSbP423ze_ToOZkOsY-9Hfdi8IeXtbJKuNEnrqpxD-xIB1T0ViFxjOak3h6WE9acOWr7TZVDdfEdLq6X8z-tT0mf0PGgweNiN8FqHqG1MJ8jXQUT45OPVS8_njf_UrHnr7XN07wjFCKrPiBBwHA2jvicjbSnjhaS1g5IJ7c_El6ITTbS6D7YYYH0dF3XU8jskJVNoaQAsELpsglQ
VK_CONFIRMATION_CODE='your_confirmation_code_here'
VK_SECRET_KEY=margoCat
